---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

For the latest citation information, please visit my
<a href="https://scholar.google.com/citations?user=7XRxZr0AAAAJ&hl=en">Google Scholar profile</a>.

{% assign ordered_publications = site.publications | sort: "selected_rank" %}
{% for post in ordered_publications %}
  {% include publication-card.html post=post %}
{% endfor %}

<p class="publication-note"><strong>Notation:</strong> * denotes equal contribution. My name is shown in bold.</p>
